<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <!--  <listeners>
        <listener class-name="util.ExtentTestNGITestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Web_Automation_Test">
        <classes>
            <class name="com.aidong.App">
                <methods>
                    <include name="main"/>
                </methods>
            </class>
            &lt;!&ndash;<class name="com.aidong.AppTest">&ndash;&gt;
                &lt;!&ndash;<methods>&ndash;&gt;
                    &lt;!&ndash;<include name="shouldAnswerWithTrue"/>&ndash;&gt;
                &lt;!&ndash;</methods>&ndash;&gt;
            &lt;!&ndash;</class>&ndash;&gt;
        </classes>
    </test>-->
    <listeners>
        <listener class-name="util.ExtentTestNGITestListener"></listener>
    </listeners>
    <test name="Test">
        <classes>
            <class name="_case.Linde_Test"></class>
            <class name="_case.CardFile_Test"></class>
        </classes>
    </test>
</suite>